In [12223231]:
print("123")

# test print layout

123

In [2]:
slider_1 = 5

In [3]:
slider_1

5

In [3]:
import pandas as pd
import numpy as np

num_rows = 100
num_col = 5 

df = pd.DataFrame(np.random.randint(0,100,size=(num_rows, num_col)), columns=list('ABCDE'))

df

,A,B,C,D,E
0,85,77,74,98,34
1,45,18,12,0,64
2,47,22,24,56,41
3,46,10,77,3,16
4,3,71,68,78,54
...,...,...,...,...,...
95,46,3,38,91,70
96,10,40,5,45,21
97,95,8,53,43,81
98,26,85,3,76,7
99,16,12,73,88,43